<link href="{{ asset('css/footer.css') }}" rel="stylesheet"/>
<footer>
    <div class="footer_images">
        <a href={{ spotify_link }} target="_blank"><img src="{{ asset('images/spotify.png')}}" alt="spotify"></a>
        <a href="https://www.facebook.com/podzimnisneni" target="_blank"><img src="{{ asset('images/facebook.png')}}" alt="facebook"></a>
        <a href="https://www.instagram.com/podzimni_sneni/" target="_blank"><img src="{{ asset('images/instagram.png')}}" alt="instagram"></a>
    </div>
    <div class="footer_location">
        <div><a href="https://shorturl.at/XChGS">Tábor Jana Ámose Komenského</a></div>
        <div>Běleč nad Orlicí 121</div>
        <div>Běleč nad Orlicí 503 46</div>
    </div>
</footer>